/*webside theme colors*/
#menu, #menu li, #footer {background-color:#567072;}
#sidebar li a:hover {background-color:#EEEEEE;}
#menu a, #footer a, #footer {color: #FFFFFF}
#main a:hover {color:#000000;}
